<form class="form" action="/todo" method="post">
	<div class="form-group">
		<label for="title">Title</label>
		<input type="text" class="form-control" placeholder="Enter a todo" id="title">
		<p class="help-block">Help text Here.</p>
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea type="text" class="form-control" id="description" placeholder="Enter a description"></textarea>
	</div>
	<div class="form-group">
		
	</div>
</form>